<form
[formGroup]="loginForm"
(ngSubmit)="submit()"
>
    <app-input-container label="Email">
        <input type="email" placeholder="Email here..." formControlName="email" />
        <!-- Conditional error message -->
        <span class="error-list" *ngIf="validField('email')">
            {{ emaiErrorlMssg }}
        </span>
    </app-input-container>

    <app-input-container label="Password">
        <input type="password" placeholder="Password here..." formControlName="password" />
        <!-- Conditional error message -->
        <span class="error-list" *ngIf="validField('password')">
            {{ passwordErrorMessage }}
        </span>
    </app-input-container>

    <div class="button">
        <button type="submit">Login</button>
    </div>

</form>

